.navigation{     
    float: left;
    padding: 10px 10px 10px 10px;
    position: fixed
/*    background-color: aqua*/

    
}

.navigation ul{
    list-style-type: none;
    padding: 0;
}

.heading{
    text-align: center;
}

.button{
    
    position: absolute;
    top:50px;
    right:50px;
    font-family: fantasy;
}

a{
    text-decoration: none;
    color: orangered;
}

.selected{
    font-weight: bold;
}

.content{
    padding: 10px;
    font-family:cursive
}

.main{
    padding: 10px 0px 0px 200px;
}

.footer{
    clear:both;
    padding: 10px;
    background-color: #ffff33;
    text-align: right;
}